:root {
    --prinory-text-color: #212121;
    --accent-color: #757575;
    --logo-color: #000000;
    --tetriory-color: #ffffff;
    --prinory-backround-color: #F5F4FA;
    --accent-backround-color: #ffffff;
    --title-backround-color: #2f303a;
    --button-backround-color: #2196f3;
    --accent-lin-color: #2196F3;

    --main-font:'Roboto',sans-serif;
    --secondary-font:'Raleway',sans-serif;

}